[project]
	description = Demonstrates the features of the Spring MVC web framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rajesh-parab
[access "refs/for/refs/*"]
	read = group user/rajesh-parab
	push = group user/rajesh-parab
	label-Code-Review = -2..+2 group user/rajesh-parab
	label-Verified = -1..+1 group user/rajesh-parab
	rebase = group user/rajesh-parab
	removeReviewer = group user/rajesh-parab
	submit = group user/rajesh-parab
[access "refs/heads/*"]
	read = group user/rajesh-parab
	create = group user/rajesh-parab
	push = +force group user/rajesh-parab
	pushMerge = group user/rajesh-parab
[access "refs/tags/*"]
	push = +force group user/rajesh-parab
	pushTag = group user/rajesh-parab
	pushSignedTag = group user/rajesh-parab
